@page "/BandList"
@using MyApplication.Entities
@using MyApplication.Interfaces
@inject IRepositoryBand RepositoryBand 


<h3>BandList</h3>

@if (!Band_existance)
{
    <h4>There are no Bands! Please contact an admin and tell him/her to do his/her job!</h4>
}
else
{
    <MudDataGrid Items="@Bands.Take(4)">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Nr" />
            <PropertyColumn Property="x => x.Name" Title="Nume" />
            <PropertyColumn Property="x => x.Genre" Title="Genre" />
        </Columns>
    </MudDataGrid>
}

@code { 
    private IEnumerable<Band> Bands= new List<Band>();

    bool Band_existance = false;
    
    protected override async Task OnInitializedAsync()
    {
        Bands = (await RepositoryBand.GetAllAsync()).ToList();
        if(Bands.Count()!= 0) Band_existance = true;

    }
}